# Pandas

Pandas ist ein Python-Modul, welches auf Tabellen sowie Tabellenkalkulationsprogrammen (wie es auch MS Excel tut) beruht. Eine besondere Fähigkeit von Pandas ist, dass es direkt CSV-, DSV- und Excel-Dateien einlesen und schreiben kann.

Mehr zu Pandas auf der offiziellen Website: http://pandas.org/

### Download von Matplotlib

In [ ]:
# nicht starten, da Matplotlib bereits installiert wurde und die notwendigen Rechte fehlen
!pip3 install pandas

### Verwenden von Pandas

### Vergleich zwischen NumPy und Pandas

In [2]:
# import numpy as np

# X = np.array([11, 28, 72, 3, 5, 8]) 


# both are the same type:

#### Individuelle Indizes

In [3]:
fruits = ['apples', 'oranges', 'cherries', 'pears'] 
quantities = [20, 33, 52, 10]

In [4]:
fruits = ['apples', 'oranges', 'cherries', 'pears']
fruits_tr = ['elma', 'portakal', 'kiraz', 'armut']

### Zugriff auf Indizes

### Ändern des Spaltennamen

In [5]:
years = range(2014, 2018)
# shop1 = pd.Series([2409.14, 2941.01, 3496.83, 3119.55], index=years) 
# shop2 = pd.Series([1203.45, 3441.62, 3007.83, 3619.53], index=years) 
# shop3 = pd.Series([3412.12, 3491.16, 3457.19, 1963.10], index=years)

---

In [6]:
cities = ["Zürich", "Winterthur", "Freiburg"]

### Zugriff auf Spalten

### Index ändern

In [7]:
cities = {"name": ["London", "Berlin", "Madrid", "Rome",
                      "Paris", "Vienna", "Bucharest", "Hamburg",
                      "Budapest", "Warsaw", "Barcelona",
                      "Munich", "Milan"],
             "population": [8615246, 3562166, 3165235, 2874038,
                            2273305, 1805681, 1803425, 1760433,
                            1754000, 1740119, 1602386, 1493900,
                            1350680],
          "area": [1572, 891.85, 605.77, 1285, 105.4, 414.6, 228, 755,
                   525.2, 517, 101.9, 310.4, 181.8],
             "country": ["England", "Germany", "Spain", "Italy",
                         "France", "Austria", "Romania",
                         "Germany", "Hungary", "Poland", "Spain",
                         "Germany", "Italy"]}

In [8]:
ordinals = ["first", "second", "third", "fourth",
               "fifth", "sixth", "seventh", "eigth",
               "ninth", "tenth", "eleventh", "twelvth",
               "thirteenth"]

### Spalten umsortieren

In [9]:
# city_frame.reindex(index=[0, 2, 4, 6, 8, 10, 12, 1, 3, 5, 7, 9, 11], columns=['country', 'name', 'area', 'population'])

### Sortierung

In [10]:
# absteigend nach Fläche sortieren

In [11]:
# aufsteigend nach Einwohner sortieren

## Auslesen von Dateien

In [54]:
import zipfile

# Quelle: https://www.kaggle.com/unsdsn/world-happiness#2019.csv
target = 'data/world-happiness.zip'
handle = zipfile.ZipFile(target)
handle.extractall('data/')
handle.close()